@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 0 0% 9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 6%;
		--card-foreground: 0 0% 98%;
		--border: 0 0% 40%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	font-family: "Geist Mono", monospace;
}

.bg-halftone {
	background-image: radial-gradient(
			circle at center,
			#00000015 0.05rem,
			transparent 0
		),
		radial-gradient(circle at center, #00000030 0.05rem, transparent 0);
	background-size: 0.2rem 0.2rem;
	background-position: 0 0, 0.1rem 0.1rem;
}

.dark .bg-halftone {
	background-image: radial-gradient(
			circle at center,
			#00000075 0.05rem,
			transparent 0
		),
		radial-gradient(circle at center, #ffffff75 0.05rem, transparent 0);
}

.link {
	@apply text-muted-foreground hocus:text-mint underline-offset-4 hocus:underline underline decoration-foreground/50 hocus:decoration-mint decoration-dotted hocus:decoration-solid;
}

.link-white {
	@apply text-muted-foreground hocus:text-foreground underline-offset-4 hocus:underline underline decoration-foreground/50 hocus:decoration-foreground decoration-dotted hocus:decoration-solid;
}

:root {
	--halftone-size: 3px;
	--halftone-bleed: 0.4;
}

.halftone-filter {
	--halftone-dot-size: calc(var(--halftone-size) * var(--halftone-bleed));
	--halftone-color-dot-size: var(--halftone-dot-size);
	position: relative;
	overflow: hidden;
	filter: brightness(
			calc(
				0.5 + var(--halftone-bleed) * 0.3 - var(--halftone-separate-k) * 0.02
			)
		)
		blur(calc(var(--halftone-size) * 0.1)) contrast(1000) blur(0.6px);
}

.halftone-filter::after {
	content: "";
	position: absolute;
	z-index: 10;
	inset: -30%;
	background-size: var(--halftone-size) var(--halftone-size);
	background-blend-mode: multiply;
	mix-blend-mode: overlay;
	transform: rotate(360deg);
	background-image: radial-gradient(
			var(--halftone-color-dot-size) at 25% 25%,
			#000,
			#666,
			#ccc,
			#fff
		),
		radial-gradient(var(--halftone-color-dot-size) at 75% 75%, #000, #fff);
}

.dot-line,
.dash-line {
	position: relative;
	border-style: none;
	width: 100%;
	height: 16px;
	line-height: 1rem;
	overflow: hidden;
}

.dot-line::before {
	content: "...................................................................................................................";
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
}

.dash-line::before {
	content: "-------------------------------------------------------------------------------------------------------------------";
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
}

.list-star li {
	display: flex;
	align-items: center;
}

.list-star li::before {
	content: "*";
	padding-top: 0.5em;
	margin-right: 0.5em;
	font-size: 1.25em;
}

.list-slash li {
	display: inline-flex;
	align-items: center;
}

.list-slash li::after {
	content: "/";
	margin-left: 1rem;
	font-size: 1.25em;
}

.list-block {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.list-block li {
	display: inline-block;
	padding: 0.2em 0.5em;
	/* background-color: theme("colors.foreground");
	color: theme("colors.background"); */
}
